.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
# 打包.vsix文件时排除web目录下除了构建成果之外的内容
!web/dist
web/**
